.dp {
  text-align: center;
}
.cr_sm {
  left: -9px;
  top: 30px;
  font-size: 16px;
}
.pro-pic i.fa {
  color: #ffffff;
  position: absolute;
}
i.fa.fa-circle.cr_md {
  left: -18px;
  top: 52px;
  font-size: 13px;
}
i.fa.fa-circle.cr_lg {
  left: -22px;
  top: 72px;
  font-size: 9px;
}
i.fa.fa-circle.cr_sm_r {
  right: 5px;
  bottom: 9px;
  color: #000;
  font-size: 9px;
}
i.fa.fa-circle.cr_md_r {
  font-size: 13px;
  bottom: 23px;
  right: -9px;
  color: #000;
}
i.fa.fa-circle.cr_lg_r {
  bottom: 43px;
  right: -20px;
  color: #000;
  font-size: 16px;
}
span.pro-pic:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 47px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
}
span.pro-pic:after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 47px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
}
